<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @reviewer.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @reviewer.password %>
</p>

<p>
  <strong>Major:</strong>
  <%= @reviewer.major %>
</p>

<p>
  <strong>Year:</strong>
  <%= @reviewer.year %>
</p>

<%= link_to 'Edit', edit_reviewer_path(@reviewer) %> |
<%= link_to 'Back', reviewers_path %>
